*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; /** Esto es para hacer una grilla responsiva */
    font-family: 'Roboto Mono', monospace;
}



#cabecera{
    margin: 0px;
    background-color: rgb(212, 239, 247);
    border: 3px solid rgb(241, 247, 250);
}

#titulo{
    font-weight: bold;
    
    margin-bottom: 40px;
    font-size:3.6rem;
    color:rgb(36, 53, 97);
    text-align: center;
    
}
#subtitulo{
    text-align: left;
}

#perfil{
    float: left ;
    text-align: center;
    width: 200px;
    height: auto;
    float: right;
    border: 2px solid gray;
    border-radius: 3px;
    margin-top: 40px;
}

/** Boton presentacion */

.presentar {
    color: #cdf1ff !important;
    
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }
  .presentar:hover {
    font-weight:bolder;
    background: #7b34ee !important;
    color: #fff ;
  }


@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}



.presentar{
    margin-top: 10px;
    margin-right: 200px;
}

#presentacion_oculta{
    display: none;
}
#presentacion_oculta #presentacion{
    animation: fadein 4s;
}
#boton_ocultar{
    position: relative;
    margin-left:300px ;
    border-radius: 3px;
    border: 0;
    color: f0f0f0;
}

#presentacion{
    border: 0;
    margin-bottom: 20px;
        
    align-items: center;
    text-align: center;
    
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}


#tarjeta_principal{
    margin-bottom: 20px;
        
    align-items: center;
    text-align: center;
    
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);

}

#tarjetas{
    
    align-items: center;
    text-align: center;
    
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#cabecera_tarjeta, #boton_habilidad{
    margin-top: 10px;
    margin-bottom: 10px;
    color: antiquewhite;
    background-color: rgb(7, 113, 212);
    border: 2px solid rgb(0, 110, 255);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(11, 2, 54, 0.5);
}


#un_elemento{
    text-align: justify;
}

/**  BOTON JS  */
#botones{
    margin-top: 20px;
    color: antiquewhite;
}


#botones_habilidad{
    margin-top: 10px;
    margin-bottom: 40px;
}

#boton_reset{
    margin-bottom: 20px;
}

#footer{
    margin: 0px;
    background-color: rgb(212, 239, 247);
    border: 3px solid rgb(241, 247, 250);
    font-size: smaller;
    margin-top: 10px;
}

#a,#b,#c,#d{
    background-color: cornflowerblue;
    margin: 2px;
}


#r {
    color: #318aac !important;
  font-size: 15px;
  font-weight: 200;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
  }
#r:hover {
    background: #7b34ee;
  color: #fff !important;
  }


